@import './variables.scss';
@import "./menubar.scss";
@import "./editor.scss";
@import "./detail.scss";
@import "./home.scss";

$body-font-family: 'Inter', sans-serif;

ul[data-type="todo_list"] {
  padding-left: 0;
}
li[data-type="todo_item"] {
  display: flex;
  flex-direction: row;
  align-items: center
}
.todo-checkbox {
  border: 2px solid $color-white;
  height: 0.9em;
  width: 0.9em;
  box-sizing: border-box;
  margin-right: 10px;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  border-radius: 0.2em;
  background-color: transparent;
  transition: 0.4s background;
}
.todo-content {
  flex: 1;
  > p:last-of-type {
    margin-bottom: 0;
  }
  > ul[data-type="todo_list"] {
    margin: .5rem 0;
  }
}
li[data-done="true"] {
  > .todo-content {
    > p {
      text-decoration: line-through;
    }
  }
  > .todo-checkbox {
    background-color: $color-grey;
  }
}
li[data-done="false"] {
  text-decoration: none;
}